<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<style>
body {
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    font-family:Helvetica;
}

#main-container {
    width:360px;
    height:200px;
}

#main-container>div {
    width:calc(100% - 4px);
    height:60px;
    background-color:#f9f9f9;
    border:2px solid #f1f1f1;
    border-radius:8px;
    margin:5px 0px;
    position:relative;
}

#main-container>div>img {
    width:50px;
    height:50px;
    border-radius:4px;
    position:absolute;
    top:5px;
    left:10px;
}

#main-container>div>div {
    width:50px;
    height:50px;
    border-radius:4px;
    position:absolute;
    top:5px;
    right:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#f1f1f1;
}

#main-container>div>h4 {
    position:absolute;
    left:70px;
    margin:0;
    top:10px;
    width:220px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main-container>div>p {
    position:absolute;
    left:70px;
    margin:0;
    bottom:10px;
    color:#777;
    width:220px;
    overflow:hidden;
    font-size:0.9rem;
}
</style>
<title>Songs</title>
<script src="https://kit.fontawesome.com/1a02557296.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="main-container">
<% lister.forEach((item, index) => { %>
<div onclick="playAudio(event, 'audio<%= index %>')">
    <audio id="audio<%= index %>" src="music/<%= item.file %>" preload="none"></audio>
    <img src="<%= item.picture %>" />
    <h4><%= item.title %></h4>
    <p><%= item.artist %></p>
    <div>
      <i class="fa-solid fa-play"></i>
    </div>
</div>
<% }) %>

</div>
<script>

let currentlyPlaying = null;

function playAudio(event, audioId) {
  const newAudio = document.getElementById(audioId);
  const btn = event.currentTarget.querySelector('div');
  if (currentlyPlaying && currentlyPlaying !== newAudio) {
   currentlyPlaying.pause();
   currentlyPlaying.currentTime = 0;
   var fourthSibling = currentlyPlaying.nextElementSibling?.nextElementSibling?.nextElementSibling?.nextElementSibling;
   fourthSibling.innerHTML = `<i class="fa-solid fa-play"></i>`;
  }

  if (newAudio.paused) {
    newAudio.play();
    currentlyPlaying = newAudio;
    btn.innerHTML = `<i class="fa-solid fa-pause"></i>`;
  } else {
    newAudio.pause();
    currentlyPlaying = null;
    btn.innerHTML = `<i class="fa-solid fa-play"></i>`;
  }
}

</script>
</body>
</html>
